<div class="row">
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Dashboard</h1>

                <h3 class="font-bold no-margins">
                    Burası Admin panelindeki işlemleri Area Komutları ile yapılmıştır.
                </h3>
                @*<small>Burası Admin panelindeki işlemleri Area Komutları ile yapılmıştır.</small>*@
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget lazur-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Son Eklenen Blog</h1>

                <h3 class="font-bold no-margins">
                    @ViewBag.v1
                </h3>
                @*<small>@ViewBag.v1</small>*@
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart2"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget yellw-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Son Eklenen Yazıcı</h1>

                <h3 class="font-bold no-margins">
                    @ViewBag.v2
                </h3>
                @*<small>Sales marketing.</small>*@
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart3"></div>
            </div>
        </div>
    </div>
</div>
